@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --font-sans: "Outfit", sans-serif;
}

:root {
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

body {
  @apply antialiased bg-gray-50 text-gray-900;
}

/* Custom Subtle Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-full hover:bg-gray-300 transition-colors;
}